/** 
Escribir el CSS necesario aqui
*/
p{
	border: 1px dashed black;
	text-align: center;
	background: white;
	padding: 6px;
}
div{
	background: #ffbb99;
	padding: 10px 10px 30px 100px;
	border-width: 8px 4px;
	border-color: purple;
	border-style: solid;
}